html > body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

body:not(.inactive) > #splash {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
}

body {
  --header-height: 60px;
  --color-bg: #fff;
  --color-bg-light: #eee;
  --color-text: #000;
  --color-primary: #359;
  --color-active: #57b;
  --color-secondary: #666;
}

header {
  height: var(--header-height);
  width: 100%;
}

main {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  background: var(--color-bg);
  color: var(--color-text);
}
main.switching > * {
  opacity: 0;
  transform: scale(0.95);
}
main > * {
  display: block;
  transition: opacity .12s ease-in-out,
              transform .12s ease-in-out;
  will-change: opacity, transform;
  transform-origin: center top;
}
main > *:not(:last-child) {
  position: absolute;
  margin-top: 0;
  left: 0;
  top: 0;
  right: 0;
}

body.backdrop {
  overflow: hidden;
  & > #wrapper {
    pointer-events: none;
  }
}

/* Fallback filter is needed only when backdrop-filter is supported  */
@supports not (backdrop-filter: blur(8px)) {
  body.backdrop {
    overscroll-behavior: none;
  }
  body.backdrop > #wrapper {
    filter: blur(8px);
  }
}
