:host {
  display: block;
}

:host, .rraycode {
  --font-size: 12pt;
  --line-height: 14pt;

  & > .rraycode {
    --font-size: inherit;
    --line-height: inherit;
  }
}

.rraycode {
  --height: 600px;

  height: var(--height);
  max-height: var(--height);
  max-width: 600px;
  overflow: auto;

  display: grid;
  grid-template-columns: 40px auto;
  position: relative;

  line-height: var(--line-height);
  font-family: monospace;
  font-size: var(--font-size);

  & :is(.rraycode_textarea, .rraycode_highlight) {
    grid-column: 1/3;
    grid-row: 1;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    height: calc(var(--height) + 100% - 4 * var(--line-height));
  }

  & .rraycode_linenumbers ~ :is(.rraycode_textarea, .rraycode_highlight) {
    grid-column: 2;
    grid-row: 1;
  }

  & :is(.rraycode_textarea, .rraycode_linenumbers, .rraycode_highlight) {
    padding: 4px;
  }

  & .rraycode_linenumbers {
    position: sticky;
    left: 0;

    padding-right: 1px;
    text-align: right;
    background-color: #eee;
    height: 100%;

    & > [current] {
      background-color: red;
    }
  }

  & .rraycode_textarea {
    font: inherit;
    resize: none;
    border: none;
    outline: none;
    color: transparent;
    color: #000000a0;
    caret-color: black;
    white-space: nowrap;

  }

  & .rraycode_textarea::selection {
    background-color: #b9ecff;
  }


  & .rraycode_highlight {
    width: 100%;
    height: 100%;

    pointer-events: none;

    & > pre {
      margin: 0;
      /*This is some Voodoo magic to hide wierd offset
      of the fist line in pre. DO NOT TOUCH*/
      text-indent: -96px;
    }
  }
}

.rraycode .token.macro :is(.directive-hash, .directive)
                             { color: #c24848; }
.rraycode .token.string      { color: #00ae22; }
.rraycode .token.function    { color: #004eff; }
.rraycode .token.number      { color: #dd9031; }
.rraycode .token.operator    { color: #5a5a5a; }
.rraycode .token.class-name  { color: #78c3ca; }
.rraycode .token.punctuation { color: #4a4a4a; }
.rraycode .token.keyword     { color: #8500ff; }
.rraycode .token.type        { color: #288b10; }
.rraycode .token.comment     { color: #aaa; }
