{
  "extends": "stylelint-config-recommended",
  "rules": {
    "color-hex-length": "short",
    "declaration-block-no-redundant-longhand-properties": true,
    "linebreaks": "unix",
    "max-empty-lines": 1,
    "max-nesting-depth": 5,
    "max-line-length": 100,
    "no-missing-end-of-source-newline": true,
    "no-empty-first-line": true,
    "unit-case": "lower",
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,
    "declaration-block-no-shorthand-property-overrides": null,
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": true,
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": ["/^range-(track|thumb)$/"]
    }],
    "selector-type-no-unknown": null
  }
}
