:host {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  --rray-social-bg-color: #fff;
  --rray-social-outline-color: transparent;
  --rray-social-icon-black: 0;
  --rray-social-border-width: 1px;

  &([network="github"]) {
    --rray-social-bg-color: #000;
    & img {
      width: calc(100% - 2 * var(--rray-social-border-width));
      margin: 0 var(--rray-social-border-width);
    }
  }
  &([network="twitter"]) {  --rray-social-bg-color: #57acee; }
  &([network="youtube"]) {  --rray-social-bg-color: #f00; }
  &([network="linkedin"]) { --rray-social-bg-color: #0f83c3; }
  &([network="vk"]) { --rray-social-bg-color: #2787f5; }
  &([network="facebook"]) { --rray-social-bg-color: #3b5998; }
  &([network="instagram"]) { --rray-social-bg-color: #40729b; }
  &([network="auth-platform"]) { --rray-social-bg-color: #673ab7; }
  &([network="auth-device"]) { --rray-social-bg-color: #6ac195; }
  &([variant="white-outline"]) {
    --rray-social-bg-color: transparent;
    --rray-social-outline-color: #fff;
  }
  &([variant="black-outline"]) {
    --rray-social-outline-color: #000;
    --rray-social-bg-color: transparent;
    --rray-social-icon-black: 1;
  }
}

a, span {
  &::before {
    content: '';
    position: absolute;
    border: var(--rray-social-border-width) solid var(--rray-social-outline-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
  }

  background-color: var(--rray-social-bg-color);
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  filter: invert(var(--rray-social-icon-black));
}
