:host {
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  border: 1px solid;
  line-height: 1.5;
  border-radius: .5em;

  transition: .15s ease-in-out;
  transition-property: color background-color border-color box-shadow;

  font-weight: 500;

  /* The colors used here are set in variants */
  --rray-button-main-color-active: var(--rray-button-main-color);
  --rray-button-text-color-active: var(--rray-button-text-color);

  &([variant="primary"]) {
    --rray-button-main-color: var(--color-primary);
    --rray-button-text-color: var(--color-bg);
    --rray-button-main-color-active: var(--color-active);
  }

  &([variant="secondary"]) {
    --rray-button-main-color: var(--color-secondary);
    --rray-button-text-color: var(--color-bg);
    --rray-button-main-color-active: var(--color-active);
  }

  &([variant="white"]) {
    --rray-button-main-color: var(--color-bg);
    --rray-button-text-color: var(--color-primary);
    --rray-button-main-color-active: var(--color-active);
    --rray-button-text-color-active: var(--color-bg);
  }

  border-color: var(--rray-button-main-color);
  background-color: var(--rray-button-main-color);
  color: var(--rray-button-text-color);

  &([outline]) {
    background-color: transparent;
    color: var(--rray-button-main-color);
  }

  &(:hover) {
    border-color: var(--rray-button-main-color-active);
    background-color: var(--rray-button-main-color-active);
    color: var(--rray-button-text-color-active);
  }
}

a, span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4em 1em;
  text-decoration: none;
  color: inherit;
}
