:host {
  --checkbox-size-sq: 20px;
  --checkbox-size-rn: 25px;
  --color-active: #a6daff;
  --color-correct: #aaefa5;
  --color-incorrect: #ff8d8d;
  --color-disabled: #ccc;
  display: block;
}

:host([completed]) :is(input:hover, input:focus-visible) + .bg {
  opacity: 0;
}

:host([correct]) label .bg {
  background-color: var(--color-correct);
  opacity: 1 !important;
}

:host([completed][checked]:not([correct])) label .bg {
  background-color: var(--color-incorrect);
  opacity: 1;
}

:host([disabled]) label .bg {
  background-color: var(--color-disabled) !important;
  opacity: 1 !important;
  cursor: default !important;
}

:host([completed]) label {
  cursor: default;
}

label {
  display: block;
  cursor: pointer;
  padding: 4px 8px;
  padding-left: 40px;
  position: relative;
  user-select: none;

  &::before, &::after {
    --checkbox-size: var(--checkbox-size-sq);
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - var(--checkbox-size) / 2);
    left: 8px;

    border-radius: 4px;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
  }

  &::before {
    box-sizing: border-box;
    border: 2px solid var(--color-active);
    background-color: white;
  }

  &::after {
    background-color: var(--color-active);
    transform: scale(.0);
    transition: .2s;
  }

  /* We have to use this hack until browsers support :has(:focus-visible) */
  & > .bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 4px;
    background-color: var(--color-active);
    opacity: 0;
    transition: .2s opacity;
  }
  & > :is(input:hover, input:focus-visible) + .bg {
    opacity: 1;
  }
}

:host([checked]) label::after {
  transform: scale(.6);
}

:host([variant="round"]) {
  & label {
    padding: 4px 10px;
    padding-left: 50px;

    &::before, &::after {
      --checkbox-size: var(--checkbox-size-rn);
      left: 10px;
      border-radius: 50%;
    }
  }
}

:host([variant="round"][checked]) label::after {
  transform: scale(.5);
}

input {
  position: absolute;
  left: 6px;
  opacity: 0;
  z-index: -2;
  cursor: pointer;
}
