:host {
  display: block;
}

:host {
  height: 100%;
  width: 100%;
  max-height: inherit;
  max-width: inherit;

  --font-family: monospace;
  --font-size: 12pt;
  --line-height: 14pt;
  --lines-width: 40px;

  --editor-bg-color: white;
  --editor-text-color: black;
  --editor-caret-color: var(--editor-text-color);
  --editor-sel-color: #b9ecff;

  --lines-bg-color: #eee;
  --lines-text-color: black;
  --scroll-track-color: #aaa;
  --scroll-thumb-color: #eee;

  --hl-color-string:      #00ae22;
  --hl-color-function:    #004eff;
  --hl-color-number:      #dd9031;
  --hl-color-operator:    #5a5a5a;
  --hl-color-class-name:  #78c3ca;
  --hl-color-punctuation: #4a4a4a;
  --hl-color-keyword:     #8500ff;
  --hl-color-comment:     #aaa;
  --hl-color-tag:         #3a9bca;
  --hl-color-selector:    #3a9bca;
  --hl-color-property:    #713aca;

}

.rraycode {
  border-radius: inherit;
  height: 100%;
  max-height: inherit;
  max-width: inherit;
  overflow: auto;

  display: grid;
  grid-template-columns: var(--lines-width) auto;
  position: relative;

  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);

  & :is(.rraycode_textarea, .rraycode_highlight) {
    grid-column: 1/3;
    grid-row: 1;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    height: calc(var(--height) + 100% - 4 * var(--line-height));
  }

  & .rraycode_linenumbers ~ :is(.rraycode_textarea, .rraycode_highlight) {
    grid-column: 2;
    grid-row: 1;
  }

  & :is(.rraycode_textarea, .rraycode_linenumbers, .rraycode_highlight) {
    padding: 4px;
  }

  & .rraycode_linenumbers {
    position: sticky;
    left: 0;

    padding-right: 1px;
    text-align: right;
    background-color: var(--lines-bg-color);
    color: var(--lines-text-color);
    height: 100%;
    box-sizing: border-box;
    user-select: none;
  }

  & .rraycode_textarea {
    font: inherit;
    resize: none;
    border: none;
    outline: none;
    color: transparent;
    white-space: nowrap;
    caret-color: var(--editor-caret-color);
    background-color: var(--editor-bg-color);
  }

  & .rraycode_textarea::selection {
    background-color: var(--editor-sel-color);
  }

  & .rraycode_highlight {
    width: 100%;
    height: 100%;
    color: var(--editor-text-color);

    pointer-events: none;

    & > pre {
      margin: 0;
      /*This is some Voodoo magic to hide wierd offset
      of the fist line in pre. DO NOT TOUCH*/
      text-indent: -96px;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.rraycode[default] .token.string      { color: var(--hl-color-string);      }
.rraycode[default] .token.function    { color: var(--hl-color-function);    }
.rraycode[default] .token.number      { color: var(--hl-color-number);      }
.rraycode[default] .token.operator    { color: var(--hl-color-operator);    }
.rraycode[default] .token.class-name  { color: var(--hl-color-class-name);  }
.rraycode[default] .token.punctuation { color: var(--hl-color-punctuation); }
.rraycode[default] .token.keyword     { color: var(--hl-color-keyword);     }
.rraycode[default] .token.comment     { color: var(--hl-color-comment);     }
.rraycode[default] .token.tag         { color: var(--hl-color-tag);         }
.rraycode[default] .token.selector    { color: var(--hl-color-selector);    }
.rraycode[default] .token.property    { color: var(--hl-color-property);    }
