@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

:host([theme=white]) {
  --color-bg: white;
  --color-bg-2: #ddd;
  --color-text: black;
  --color-text-2: #444;
  --color-shadow: #0000002b;
}

:host([theme=dark]) {
  --color-bg: #262626;
  --color-bg-2: #4d4d4d;
  --color-text: #dfdfdf;
  --color-text-2: #b4b4b4;
  --color-shadow: #9b9b9b2b;

  & #editor {
    --lines-bg-color: #535353;
    --lines-text-color: #959595;
    --editor-bg-color: #3d3d3d;
    --editor-text-color: #eaeaea;
    --editor-sel-color: #565656;
    --hl-color-punctuation: var(--color-text);
    --hl-color-keyword: #b773e1;
    --hl-color-function: #81a7ff;
    --hl-color-string: #79df79;
    --hl-color-property: #b773e1;
    --hl-color-selector: #81a7ff;
    --hl-color-class-name: #ffcc70;
    --hl-color-operator: var(--color-text);
    --scroll-thumb-color: var(--color-bg-2);
    --scroll-track-color: var(--color-bg);
  }

  & #corner svg #bg {
    fill: #555;
  }

  & #corner svg :is(#corner, #gh path) {
    fill: #323232;
  }
}

:host {
  font-family: 'Georama', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  padding: 40px 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;

  background-color: var(--color-bg);
  color: var(--color-text);
}

#corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;

  & > svg {
    width: inherit;
    height: inherit;
  }
}

#theme {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  & > svg {
    width: inherit;
    height: inherit;

    & * {
      fill: var(--color-text);
    }
  }
}

#header {
  width: fit-content;
  display: flex;
  gap: 30px;
  align-items: center;

  & > #logo {
    width: 150px;
    height: 150px;

    & > svg {
      width: inherit;
      height: inherit;
    }
  }

  & #title {
    font-size: 48pt;
  }

  & #desc {
    margin-top: 10px;
  }
}

#editor-wrap {
  position: relative;
  width: 800px;
  height: 400px;

  & > #language {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 40px;
    text-align: center;
    padding: 4px 8px;
    background-color: var(--color-bg-2);
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14pt;
    z-index: 4;
    opacity: .7;
  }

  & > #editor {
    box-shadow: 0 0 20px 2px var(--color-shadow);
    border-radius: 8px;
    display: block;
    position: relative;
    height: inherit;
  }

  & > #editor:before {
    --border-size: 5px;
    content: '';
    position: absolute;
    top: calc(-1 * var(--border-size));
    left: calc(-1 * var(--border-size));
    display: block;
    width: calc(100% + 2 * var(--border-size));
    height: calc(100% + 2 * var(--border-size));
    border-radius: 10px;

    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
    filter: blur(20px);
    opacity: .5;
    transition: transform .6s;
  }

  & > #editor:focus-within:before {
    transform: scale(.8);
  }

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

hr {
  border: none;
  height: 5px;
  border-radius: 10px;
  background: var(--color-bg-2);
  width: 100%;
  max-width: 900px;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
  font-size: 16pt;

  & > .card {
    padding: 10px;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text-2);
    box-shadow: var(--color-shadow) 3px 3px 10px 1px;
  }
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #37c2fc;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  :host {
    width: 100%;
    height: fit-content;
    padding: 2vh 2vw;
    box-sizing: border-box;
  }

  #theme {
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
  }

  #corner {
    width: 80px;
    height: 80px;
  }

  #header {
    gap: 10px;

    & #logo {
      width: 130px;
      height: 130px;
    }

    & #title {
      font-size: 30pt;
    }

    & #desc {
      font-size: 10pt;
      width: 100px;
    }
  }

  #editor-wrap {
    width: 350px;
    height: 250px;

    & > #editor {
      --font-size: 7pt;
      --line-height: 10pt;
    }

    & > #language {
      padding: 2px 4px;
      min-width: 30px;
      font-size: 10pt;
    }
  }

  #cards {
    font-size: 12pt;

    & .card {
      height: 60px;
    }
  }
}

